.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 16.5vh;
  justify-content: center;
}
#signup-btn {
  background-color: #c97800;
  border: none;
}
 .signup-type{
  display: flex;
  justify-content: space-evenly;
 }