#modal-close {
  background-color: #5f341c;
  border: none;
}
/* #class_code_btn {
  background-color: #5f341c;
  border: none;
} */
.fa-copy{
  border:none;
  font-size:1.5rem;
  color:green;
  background-color: transparent;
}
