#modal-close {
  background-color: #5f341c;
  border: none;
}
#class_code_btn {
  background-color: #5f341c;
  border: none;
}
.fa-copy{
  border:none;
  color:grey;
  background-color: transparent;
}
