#prof-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prof-wrap {
    height: 8.5vw;
    width: 8.5vw;
    max-width: 56px;
    max-height:56px;
    border-radius: 50%;
    overflow: hidden;
}
#prof-image{
    background-image: url(../../Assets/NFTmonke.png);
    background-size:100%;
    width:100%;
    height:100%;
}
#u-name{
    font-size:.8rem;
}